@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    --font-family: 'Fira Sans', sans-serif;
    --font-family-alt: 'PT Mono', monospace;
    --font-family-mono: 'Courier Prime', monospace;
    --base-font-size: 20px;
    --font-weight-light: 300;
    --font-weight-base: 400;
    --font-weight-medium: 500;
    --font-weight-heavy: 700;

    --color0: #191b24;
    --color1: #2d3142;
    --color2: #4e5b72;
    --color3: #6f84a1;
    --color4: #b0d7ff;
    --color5: #8a7968;
    --color6: #ab9b87;
    --color7: #ccc0ae;
    --color8: #ede4d4;
    --color9: #f9f6f1;

    --background-dark: var(--color0);
    --background: var(--color3);
    --background-light: var(--color9);
    --primary: var(--color1);
    --secondary: var(--color2);
    --accent: var(--color5);
    --highlight: var(--color4);
    --contrast: var(--color6);
    --foreground-dark: var(--color0);
    --foreground-alt: var(--color7);
    --foreground: var(--color8);
    --foreground-light: var(--color9);

    --radius-hard: 4px;
    --radius-soft: 8px;
    --border-thin: 2px solid;
    --border-thick: 8px solid;
    --underline-thin: 2px underline;
    --underline-thick: 4px underline;

    --body-max-width: 1140px;
}

html,
body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-base);
    background: var(--background);
    color: var(--foreground);
}

a {
    text-decoration: none;
}

/*
------------------------------------------------------------------------------------------------------------------------
Golden Ratio Typography Settings https://grtcalculator.com
------------------------------------------------------------------------------------------------------------------------
*/

ul,ol,p,blockquote {
    max-width: 680px;
    line-height: 1.7rem;
}

.h0 {
    font-size: 2.6rem;
    font-weight: var(--font-weight-heavy);
    line-height: 1.558em;
    margin-bottom: 2.75rem;
}

h1 {
    font-size: 2.05rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.585em;
    margin-bottom: 1.7rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.625em;
    margin-top: 2.75rem;
    margin-bottom: 1.05rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.64em;
    margin-top: 1.7rem;
    margin-bottom: 0.65rem;
}

h4 {
    font-size: 1rem;
    font-weight: var(--font-weight-heavy);
    line-height: 1.7em;
    margin-bottom: 0.4rem;
}

h5 {
    font-size: 0.8rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.75em;
    margin-bottom: 0.25rem;
}

h6 {
    font-size: 0.675rem;
    font-weight: var(--font-weight-medium);
    line-height: 1.79em;
    margin-bottom: 0.2rem;
}

p, ul, ol, blockquote {
    margin-bottom: 1.7rem;
}

ul, ol {
    margin-left: 1.7rem;
}

li {
    margin-bottom: 0.65rem;
}

blockquote {
    padding-left: 1.05rem;
}

code,pre,kbd {
    font-size: 0.9rem;
}
